@charset "utf-8";
/* CSS Document */

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
#maincontent {

  background-color: #f3f3f3;
  min-height: 100%;
  /* added 
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px );
  */

}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: .8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;

}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;

}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: .8em;
    margin: 0;
    width: calc(100vw-80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: calc(100vh - 225px); /* nav + filter height = 80px + 135px + 10px filter-padding */ /* height: 400px; */
  min-height: calc(320px - 80px);
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;

  /* removed */
  /* height: 50px; */

  /* added */
  height: 135px;
  padding: 5px 0; 
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  


}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: calc(100% - 10px * 2); /* width: 200px; */

}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #ccc /* background-color: #f3f3f3 */;
  list-style: outside none none;
  margin: 0;
  padding: 0px 0 60px; /* padding: 30px 15px 60px; */
  text-align: center;
}
#restaurants-list li {

  background-color: #fff;
  /* border: 2px solid #ccc; */
  font-family: Arial,sans-serif;
  margin: 0 0 10px; /*margin: 15px; */
  min-height: 320px; /* min-height: 380px; */
  padding: 0 0 25px; /* padding: 0 30px 25px;*/
  text-align: center; /* text-align: left; */
  width: 100vw; /*width: 270px;*/
  /* addded */
  max-width: 414px;
  
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;

  /* removed */
  /* min-height: 248px; */
  /* min-width: 100%; */

  /* added */
  height: auto;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a[class='anchor'] {
  visibility: hidden;
  margin: 0;
  position: absolute;

}

/* ====================== Restaurant Details ====================== */


.inside #maincontent {
  display: grid;
  grid-template-columns: 1fr;
  /* max-height : calc(100vh - 80px); */
  width:100vw;
}
.inside header {
  /* position: fixed; */ 
  top: 0;
  width: 100vw;
  /* z-index: 1000; */
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
/*
  height: 87%;
  position: fixed;
  right: 0;
*/  
  top: 80px;

  width: 100vw;
  height: auto;
}
.inside #map {
  background-color: #ccc;
  /*height: 100%;*/
  width: 100vw;
}
.inside #footer {
  /*bottom: 0;*/ 
  /* position: fixed; */
  width: calc(100vw - 50px);
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 10px 30px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
  width: 100vw;
}
#restaurant-address {

  font-size: 1em;
  margin: 10px 10px;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding-top: 40px; /* padding: 140px 40px 30px; */
  width: 100vw;
}
#reviews-container {
  padding: 30px 5px 80px; /*padding: 30px 40px 80px;*/
}
#reviews-container h2 {
  color: #f58500;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: -1px;
  /* padding-bottom: 1pt; */
  padding:0 10px 10px 1pt;
  text-align: center;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: calc(100vw - 40px - 4px - 10px);
}
#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours {
  margin-left: auto;
  margin-right: auto;
}

#restaurant-hours td {
  color: #666;
  padding: 0 10px;
}

@media screen and (min-width: 415px) {

#map {
  min-height: 100px;
  height: calc(100vh - 80px - 68px - (5px * 2)); /* nav + filter height = 80px + 135px + 10px filter-padding */ /* height: 400px; */
}

.filter-options select {
  display: inline;
  float: left;
  width: calc(50% - 10px * 2); /* width: 200px; */

}
.filter-options {
  height: 68px;
  padding: 5px 0; 
}
#restaurants-list li {

  max-width: 100vw;
  height:auto;
  min-height: 200px;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

@media screen and (min-width: 641px) {

#map {
  width: calc(100vw * 2 / 3);
  height: calc(100vh - 80px);
}

.filter-options select {
  display: block;
  min-width: calc((100vw / 3) - 10px * 2); /* width: 200px; */
}

#maincontent {

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  max-height : calc(100vh - 80px);

}
.inside #map-container {
  background: blue none repeat scroll 0 0;
/*
  height: 87%;
  position: fixed;
  right: 0;
*/  
  top: 80px;
  width: 50vw;
  height: 100%;
}
.inside #map {
  background-color: #ccc;
  /*height: 100%;*/
  width: 100%;
  height: 100%;
}


.filter-options {
  width: calc((100vw / 3));
  height: 135px;
  padding: 5px 0; 
}

.inside #maincontent {
  display: grid;
  grid-template-columns: auto auto;
  /* max-height : calc(100vh - 80px); */
  width:50vw;
}

#restaurants-list li {
  width: calc(100vw / 3);
  display: block;
  
}

#maincontent ul {
  height: calc(100vh - 135px - 80px - 10px - 50px - 8pt);
  /* overflow: auto; */

}

#maincontent section {
  overflow: auto;
}

#restaurant-img {
  width: 100%;
}
#restaurant-address {

  font-size: 1em;
  margin: 10px 10px;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding-top: 0px; /* padding: 140px 40px 30px; */
  width: 50vw;
}
#reviews-container {
  padding: 0 0 80px; /*padding: 30px 40px 80px;*/
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.inside #footer {
  /*display: block;*/
  bottom: 0;

  position: fixed;
  /* width: calc(100vw - 50px); */
  width: 100vw;
}


.inside #maincontent ul {
  overflow: visible;
  height: auto;

}

}
